.app-container {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
/* header style */
.title-container{
  background: orange;
  display: flex;
  height: 15vh;
  text-align: center;
}
.title {
  font-size: 8vh;
  color: white;
  flex: 1;
  margin: auto;
}

.active {
  background: blue;
}
