.app-container {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
/* header style */
.title-container{
  background: orange;
  display: flex;
  height: 15vh;
  text-align: center;
}
.title {
  font-size: 10vw;
  color: white;
  flex: 1;
  margin: auto;
}
.wallet-input-container {
  text-align: center;
}
.wallet-title {
  font-size: 6vw;
  margin: 4vw;
}

.wallet-input {
  margin-bottom: 6vw;
  border: solid 1px gray;
  border-radius: 5px;
  font-size: 4vw;
  width: 92%;
  text-align: center;
}

.submit-button {
  width: 35%;
  background: green;
  margin: auto;
  margin-bottom: 1em;
}
.submit-text {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.submit-text:active {
  background: orange;
  color: white;
}
.active {
  background: blue;
}

.row-container {
    text-align: center;
    display: flex;
    margin: auto;
    width: 90%;
}
.row {
    border: solid 1px gray;
    font-size: 3.2vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.row.row1 {
    width: 8%;
}
.row.row2 {
    width: 12%;
}
.row.row3 {
    width: 30%;
}
.row.row4 {
    width: 50%;
}